@import "vars"
@import "common.module"

.auth
  &__modal
    position: absolute
    top: 0
    left: 0
    @extend .centeredRow
    @extend .widthFull
    @extend .heightFull
    @extend .containerPaddings

  &__container
    @extend .widthFull
    height: 53%
    @extend .rounded_20
    @extend .dFlex


.authModalLightMode
  backdrop-filter: blur(3px)
  background: #ffffff00

.authModalDarkMode
  backdrop-filter: blur(30px)
  background: rgba(30, 30, 30, 0.05)

.authContainerLightMode
  box-shadow: 0 0 10px 0 $darkShadow
  color: $bgColor
  border: 1px solid transparent
  background-color: $textColor

.authContainerDarkMode
  box-shadow: 0 0 10px 10px $lightShadow
  color: $textColor
  border: 1px solid $primaryColor
  background-color: $bgColor

.authCardAndForm
  background-color: transparent
  @extend .centeredColumn
  @extend .widthFull
  @extend .heightFull
  flex-basis: 50%
  transition: display 2s ease-in-out

.signInCard
  @extend .authCardAndForm
  border-left: 1px solid $accentColor

.cards
  &__heading
    font-size: $h3Size
    color: inherit
    text-align: center
    @extend .mb_20

  &__button
    @extend .buttonText
    @extend .commonButton
    padding: 15px 40px
    border: 1px solid $primaryColor
    background-color: $primaryColor
    @extend .rounded_30

    &:hover
      @extend .commonButtonHover

  &__form
    @extend .centeredColumn
    width: 65%

  &__inputContainer
    @extend .dFlex
    @extend .flexColumn
    @extend .widthFull
    margin-bottom: 10px
    @extend .positionRel

  &__input
    @extend .commonInputText
    padding: 15px

    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill
      background-color: transparent !important


.signInForm
  @extend .authCardAndForm

.signUpCard
  @extend .authCardAndForm
  border-right: 1px solid $accentColor

.signUpForm
  @extend .authCardAndForm

.errors
  color: darkred
  @extend .mb_20

.passwordWatcher
  position: absolute
  top: 30%
  right: 15px

.passwordWatcher > img
  cursor: pointer