@import "vars"
@import "common.module"

.header
  @extend .commonInputContainer
  @extend .containerPaddings
  border-bottom: 1px solid $accentColor
  padding-top: 20px
  padding-bottom: 20px

  &__container
    @extend .commonInputContainer
    @extend .jcSpBtw


.auth
  &__buttons
    @extend .dFlex
    @extend .jcEnd
    @extend .aiCenter

  &__button
    @extend .transparentToGreenBtn
    @extend .rounded_30

  &__buttonLink
    @extend .transparentToGreenBtn
    border: 1px solid transparent
    outline: none
    text-decoration: none
    @extend .rounded_30
    @extend .mr_20

@media all and (max-device-width: 1920px)
  .header
    @extend .containerPaddings
    padding-top: 20px
    padding-bottom: 20px

@media all and (max-device-width: 1580px) and (max-device-height: 730px)
  .header
    padding-top: 10px
    padding-bottom: 10px
  .auth
    &__buttonLink
      font-size: 20px
      padding: 10px 30px

@media all and (max-device-width: 1024px) and (max-device-height: 770px)
  .auth
    &__buttonLink
      font-size: 20px
      padding: 10px 30px

@media all and (max-device-width: 1024px) and (max-device-height: 600px)
  .auth
    &__buttonLink
      font-size: 20px
      padding: 10px 30px

@media all and (max-device-width: 540px) and (max-device-height: 720px)
  .auth
    &__button
      padding: 10px 30px
      font-size: $pSize
  .header
    padding: 10px 30px

@media all and (max-device-width: 430px)
  .header
    padding: 10px 30px

  .auth
    &__button,
    &__buttonLink
      padding: 10px 30px
      font-size: $pSize
      margin-right: 0

    &__buttons
      @extend .dFlex
      flex-direction: column
      align-items: end



@media all and (max-device-width: 412px)
  .header
    padding: 10px 30px

