@import "vars"
@import "common.module"

.header
  @extend .commonInputContainer
  @extend .containerPaddings
  border-bottom: 1px solid $accentColor
  padding-top: 20px
  padding-bottom: 20px

  &__container
    @extend .commonInputContainer
    @extend .jcSpBtw


.auth
  &__buttons
    @extend .dFlex
    @extend .jcEnd
    @extend .aiCenter

  &__button
    @extend .transparentToGreenBtn
    @extend .rounded_30

  &__buttonLink
    @extend.transparentToGreenBtn
    border: 1px solid transparent
    outline: none
    text-decoration: none
    @extend .rounded_30
    @extend .mr_20

