@import "vars"
@import "common.module"

.main
  @extend .dFlex
  min-height: calc(-165px + 100vh)
  max-height: calc(-165px + 100vh)
  @extend .containerPaddings
  @extend .widthFull
  padding-top: 40px
  padding-bottom: 40px