@import "vars"
@import "common.module"

.main
  @extend .centeredColumn
  min-height: calc(-165px + 100vh)
  max-height: calc(-165px + 100vh)
  @extend .containerPaddings
  @extend .widthFull
  padding-top: 70px
  padding-bottom: 70px
  &__heading
    color: $bgColor
    text-transform: uppercase

  &__subheading
    color: $accentColor
    font-size: $h4Size
    font-weight: 700

  &__imageWrapper
    @extend .widthFull
    height: 530px
    margin-bottom: 45px

  & > img
    @extend .widthFull
    @extend .heightFull
    object-fit: contain


