@import "vars"
@import "common.module"

.profile
  @extend .dFlex
  min-height: calc(-165px + 100vh)
  max-height: calc(-165px + 100vh)
  @extend .containerPaddings
  @extend .widthFull
  padding-top: 40px
  padding-bottom: 40px

.profileContainer
  @extend .widthFull
  @extend .heightFull
  @extend .dFlex
  @extend .aiCenter
  flex-wrap: wrap

.boardBtn
  @extend .commonButton
  padding: 15px 45px
  width: 23%
  @extend .buttonText
  height: 100px
  margin: 0 12px 20px

.newBoardBtnContainer
  @extend .positionRel
  width: 23%
  height: 100px
  margin: 0 12px 20px

.newBoardButton
  @extend .widthFull
  @extend .heightFull
  @extend .transparentToGreenBtn


  & > span:first-of-type
    @extend .buttonText


.userBoardLink
  @extend .boardBtn
  text-decoration: none
  color: #1E1E1E
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.30)

.newBoardFormContainer
  position: absolute
  top: 50px
  left: -30px
  backdrop-filter: blur(10px)
  @extend .commonFormContainer
  width: 300px
  height: fit-content


.newBoardForm
  @extend .widthFull
  @extend .heightFull
  @extend .commonFormContainer
  border: 1px solid $accentColor

  & .inputContainer
    @extend .jcSpBtw
    @extend .commonInputContainer
    margin-bottom: 10px

    & > input[type='text']
      @extend .commonInputText

  & .inputContainer__items
    @extend .centeredColumn
    @extend .widthFull

  & .inputContainer__colors
    @extend .commonInputContainer
    margin: 10px 0
    flex-wrap: wrap


  &__button
    font-weight: 500
    @extend .mt_10
    color: $textColor
    font-size: $pSize
    padding: 10px 30px
    border: 1px solid transparent
    background-color: $primaryColor
    @extend .transition
    @extend .rounded_30

    &__button:hover
      @extend .commonButtonHover


.colors__label
  border-radius: 5px
  width: 30px
  height: 30px
  margin: 5px
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15)

  & > input[type='radio']
    display: none

